---
layout: base.njk
pagination:
  data: pages
  size: 1
  resolve: values
  alias: page_content
permalink: "{{ page_content.meta.slug.current }}/index.html"
eleventyComputed:
  title: "{{ page_content.meta.title }}"
---


